<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiki</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #F4F4F4">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crawl-all-subcategories"
          >Crawl all subcategories</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crawl-all-products-of-a-category"
          >Crawl all products of a category</a
        >
      </li>
    </ul>

    <div>number of products: {{numberOfProducts[0][0]}}</div>
    <div>number of main categories: {{numberOfMainCategories[0][0]}}</div>
    <div>number of subcategories: {{numberOfSubcategories[0][0]}}</div>

    <div class="row">
      <div class="col-sm-2">
        <div class="list-group" style="margin-top:50px">
          {% for category in mainCategories %}
          <a href="{{ url_for('get_subcategories', categoryId=category[0]) }}">
            <button
              type="button"
              class="list-group-item list-group-item-action text-truncate"
            >
              {{ category[1] }}
            </button>
          </a>
          {% endfor%}
          <a href="/show-more-main-categories">
            <button
              type="button"
              class="list-group-item list-group-item-action btn-primary"
            >
              <span style="color:#007bff"
                >Show more... ({{ mainCategories|length
                }}/{{numberOfMainCategories[0][0]}})</span
              >
            </button>
          </a>
        </div>
      </div>
      <div class="col-sm-10" style="margin-top:50px">
        <ul class="nav nav-tabs">
          {% for subcategory in subcategories %}
          <li class="nav-item">
            <a
              class="nav-link"
              href="{{ url_for('get_products', categoryId=subcategory[0]) }}"
              >{{subcategory[1]}}</a
            >
          </li>
          {% endfor%}
        </ul>
        <div class="card-columns">
          <!-- Loop through the data and display it -->
          {% for product in products %}
          <div class="card">
            <img src="{{ product[2] }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ product[1] }}</h5>
              <p>Price</p>
            </div>
          </div>
          {% endfor%}
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
