<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiki</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crawl-all-subcategories"
          >Crawl all subcategories</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crawl-all-products">Crawl all products</a>
      </li>
    </ul>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="list-group" style="width:200px; margin-top:50px">
            {% for category in mainCategories %}
            <a href="{{ url_for('get_category', categoryId=category[0]) }}">
              <button
                type="button"
                class="list-group-item list-group-item-action text-truncate"
              >
                {{ category[1] }}
              </button>
            </a>
            {% endfor%}
            <a href="/show-more-main-categories">
              <button
                type="button"
                class="list-group-item list-group-item-action btn-primary"
              >
                <span style="color:#007bff"
                  >Show more... ({{ mainCategories|length
                  }}/{{numberOfMainCategories[0][0]}})</span
                >
              </button>
            </a>
          </div>
        </div>
        <div class="col-sm-8" style="margin-top:50px">
          <div class="card-columns">
            <!-- Loop through the data and display it -->
            {% for subcategory in subcategories %}
            <div class="card">
              <div class="card-body">
                {{subcategory[0]}}<br />
                {{subcategory[1]}}<br />
                {{subcategory[2]}}<br />
                {{subcategory[3]}}<br />
                {{subcategory[4]}}<br />
              </div>
            </div>
            {% endfor%}
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
